{% extends 'index.html' %}
{% block content %}
    <div class="container">
        <a type="button" class="btn btn-primary" href="input/">Input</a>
        <br>
        <br>
        <table class="table table-striped">
            {% for d in data %}
            <tr>
                <td><b>Nama Sekolah</b></td>
                <td>{{d.school_name}}</td>
            </tr>
            <tr>
                <td><b>No. Statistik Sekolah (NSS)</b></td>
                <td>{{d.nss}}</td>
            </tr>
            <tr>
                <td><b>Nomor Pokok Sekolah Nasional</b></td>
                <td>{{d.npsn}}</td>
            </tr>
            <tr>
                <td><b>Tipe Sekolah</b></td>
                <td>{{d.school_type}}</td>
            </tr>
            <tr>
                <td><b>Alamat Sekolah</b></td>
                <td>{{d.school_address_street}}</td>
            </tr>
            <tr>
                <td><b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Kecamatan</b></td>
                <td>{{d.school_address_district}}</td>
            </tr>
            <tr>
                <td><b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Kabupaten/Kota</b></td>
                <td>{{d.school_address_city}}</td>
            </tr>
            <tr>
                <td><b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Provinsi</b></td>
                <td>{{d.school_address_province}}</td>
            </tr>
            <tr>
                <td><b>Telepon / HP / Fax</b></td>
                <td>{{d.telephone}}</td>
            </tr>
            <tr>
                <td><b>Website</b></td>
                <td>{{d.website}}</td>
            </tr>
            <tr>
                <td><b>E-Mail</b></td>
                <td>{{d.email}}</td>
            </tr>
            <tr>
                <td><b>Status Sekolah</b></td>
                <td>{{d.school_status}}</td>
            </tr>
            <tr>
                <td><b>Nilai Akreditasi Sekolah</b></td>
                <td>{{d.acreditation_score}}</td>
            </tr>
            <tr>
                <a type="button" class="btn btn-success" href="/initiation/{{d.id}}">Detail</a>
                <a type="button" class="btn btn-warning" href="/initiation/{{d.id}}/update">Edit</a>
                <a type="button" class="btn btn-danger" href="/initiation/{{d.id}}/delete">Hapus</a>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}